$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
$mobile-breakpoint-min: 320px;
$mobile-breakpoint-max: 767px;
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint-min) {
    @content;
  }
  @media screen and (max-width: $mobile-breakpoint-max) {
    @content;
  }
}

* {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  flex-direction: column;
  height: 10.56rem;
  margin: 0 1rem;
  align-items: center;
  @include tablet {
    flex-direction: row;
    height: 5rem;
    @include desktop {
      margin: 0 11.25rem 0 11.25rem;
    }
  }
  &__logo-container {
    height: 3rem;
    display: flex;
    @include tablet {
      margin: 0 10.56rem 0 0;
    }
    @include desktop {
      margin: 0 31.81rem 0 0;
    }
  }
  &__search {
    width: 18rem;
    height: 3rem;
    margin: 0 0 0.5rem 0;
    border-radius: 0.25rem;
    border: 0.15rem solid #e1e1e1;
    background-color: #fafafa;
    @include tablet {
      margin: 0;
      width: 22rem;
      margin: 0 1.5rem 0 0;
    }
  }
  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  &__upload-container {
    display: flex;
    justify-content: space-between;
    width: 18rem;
    @include tablet {
      justify-content: flex-end;
      width: 15rem;
    }
  }
  &__upload {
    width: 14rem;
    border: solid #0095ff;
    border-radius: 0.25rem;
    color: white;
    background-color: #0095ff;
    font-weight: bold;
    @include tablet {
      width: 6rem;
      margin: 0 1.5rem 0 0;
    }
  }
}
