$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
$mobile-breakpoint-min: 320px;
$mobile-breakpoint-max: 767px;
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint-min) {
    @content;
  }
  @media screen and (max-width: $mobile-breakpoint-max) {
    @content;
  }
}

.desktop {
  @include desktop {
    display: flex;
  }
}
